{{!-- 
// Citation:The code setup here stems from CS 340 starter code for node js.
// website: https://github.com/osu-cs340-ecampus/nodejs-starter-app
// Submission date: 12/09/2024
// Group 07: Lora Dushanova and Sasha Richards --}}

<!-- campgrounds.hbs -->
<title>Campgrounds</title><link rel="stylesheet" href="css/style.css">
<a href="/">Home</a> | 
<a href="/customers">Customers</a> | 
<a href="/sites">Sites</a> | 
<a href="/reservations">Reservations</a>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<h2>Campgrounds</h2>
{{!-- Create a table --}}
<table id="campgrounds-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Sites</th>
            <th>State</th>
            <th>Town</th>
            <th>Distance</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the variables, in order --}}
        {{#each data}}
        <tr data-value={{this.CampgroundId}}>
            <td>{{this.CampgroundId}}</td>
            <td>{{this.CampgroundName}}</td>
            <td>{{this.CampgroundPhone}}</td>
            <td>{{this.NumberOfSites}}</td>
            <td>{{this.CampgroundState}}</td>
            <td>{{this.ClosestTown}}</td>
            <td>{{this.DistanceToTown}}</td>
            <td>{{this.Longitude}}</td>
            <td>{{this.Latitude}}</td>
            <td><button onclick="deleteCampground({{this.CampgroundId}})">delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_campground.js"></script>

<!-- /views/campgrounds.hbs -->

<h2>Add A Campground</h2>
<h3>Add Campground information below and click `Submit`.</h3>
<form id="add-campground-form" method="POST" action="/add-campground-form">
    <label for="input-name">Campground Name: </label>
    <input type="text" name="input-name" id="input-name">
    <br>
    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">
    <br>
    <label for="input-sites">Number of Sites: </label>
    <input type="number" min="0" name="input-sites" id="input-sites">
    <br>
    <label for="input-state">State: </label>
    <input type="text" name="input-state" id="input-state">
    <br>
    <label for="input-town">Town: </label>
    <input type="text" name="input-town" id="input-town">
    <br>
    <label for="input-distance">Distance: </label>
    <input type="number" step="0.001" min ="0" name="input-distance" id="input-distance">
    <br>
    <label for="input-longitude">Longitude: </label>
    <input type="number" step="0.001" default ="0" name="input-longitude" id="input-longitude">
    <br>
    <label for="input-latitude">Latitude: </label>
    <input type="number" step="0.001" default ="0" name="input-latitude" id="input-latitude">
    <br>
    <input type="submit">
</form>

<h2>Search a Campground</h2>
{{!-- using the route 'action='/campgrounds' --}}
<form id="search-campground-html" method='GET' action='/campgrounds'> 
    <label for="input-CampgroundName">Enter Campground Name: </label>
    <input type="text" name="CampgroundName" id="input-CampgroundName-html-search">
    
    <input type="submit">
    <a href='/campgrounds'><button>Reset</button></a>
</form>


<h2>Update Campground</h2>
<h3>You can enter only fields that need to be changed:</h3>
<form id="update-campground-form" method="POST" action="/update-campground-form">

     <label for="input-camp">Name: </label>
    <select name="input-camp" id="input-camp">
        <option value="test">Select a Campground</option>
        {{#each data}}
        <option value='{{this.CampgroundId}}'>{{this.CampgroundName}}</option>
        {{/each}}
    </select>
    <br>
    <h3>Update Fields</h3>
    
    <label for="update-phone">Phone: </label>
    <input type="text" name="update-phone" id="update-phone">
    <br>

    <label for="update-sites">Sites: </label>
    <input type="number" min="0" name="update-sites" id="update-sites">
    <br>
    
    <label for="update-state">State: </label>
    <input type="text" name="update-state" id="update-state">
    <br>

    <label for="update-town">Town: </label>
    <input type="text"  name="update-town" id="update-town">
    <br>

    <label for="update-distance">Distance: </label>
    <input type="number" step="0.001" min="0" name="update-distance" id="update-distance">
    <br>

    <label for="update-longitude">Longitude: </label>
    <input type="number" step="0.001" name="update-longitude" id="update-longitude">
    <br>

    <label for="update-latitude">Latitude: </label>
    <input type="number" step="0.001" name="update-latitude" id="update-latitude">
    <br>

    <input type="submit">

</form>


