{{!-- 
// Citation:The code setup here stems from CS 340 starter code for node js.
// website: https://github.com/osu-cs340-ecampus/nodejs-starter-app
// Submission date: 12/09/2024
// Group 07: Lora Dushanova and Sasha Richards --}}

<!-- customers.hbs -->
<title>Customers</title><link rel="stylesheet" href="css/style.css">
<a href="/">Home</a> | 
<a href="/campgrounds">Campgrounds</a> |
<a href="/sites">Sites</a> | 
<a href="/reservations">Reservations</a>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h2>Customer</h2>
{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the variables, in order --}}
        {{#each data}}
        <tr data-value={{this.CustomerId}}>
            <td>{{this.CustomerId}}</td>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.CustomerEmail}}</td>
            <td>{{this.CustomerPhone}}</td>
            <td><button onclick="deleteCustomer({{this.CustomerId}})">delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_customer.js"></script>

<!-- /views/customers.hbs -->
<div>
<h2>Add a Customer</h2>
<h3>Add Customer information below and click `Submit`.</h3>
<form onsubmit="preventEmptyNameAdd()" id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-first-name-add">First Name: </label>
    <input type="text" name="input-first-name-add" id="input-first-name-add">
    <br>
    <label for="input-last-name-add">Last Name: </label>
    <input type="text" name="input-last-name-add" id="input-last-name-add">
    <br>
    <label for="input-email-add">Email: </label>
    <input type="text" name="input-email-add" id="input-email-add">
    <br>
    <label for="input-phone-add">Phone: </label>
    <input type="text" name="input-phone-add" id="input-phone-add">
    <br>
    <input type="submit">
</form>
<script src="./js/prevent_empty_name.js"></script>
</div>

<h2>Search a Customer</h2>
{{!-- using the route 'action='/customers' --}}
<form id="search-customer-html" method='GET' action='/customers'> 
    <label for="input-LastName">Enter Last Name: </label>
    <input type="text" name="LastName" id="input-LastName-html-search">
    
    <input type="submit">
    <a href='/customers'><button>Reset</button></a>
</form>


<h2>Update a Customer</h2>
<h3>Select the Customer's name:</h3>
<form id="update-customer-form" method="POST" action="/update-customer-form">

    <label for="input-name-menu">Name: </label>
    <div class="select">
    <select name="input-name-menu" id="input-name-menu">
        <option value="test">Select a Customer</option>
        {{#each data}}
        <option value='{{this.CustomerId}}'>{{this.FirstName}} {{this.LastName}}</option>
        {{/each}}
    </select>
    </div>
    <br>

    <h3>You can enter only fields that need to be changed and press Submit:</h3>
    
    <label for="input-phone-update">Phone: </label>
    <input type="text" name="input-phone-update" id="input-phone-update">
    <br>

    <label for="input-email-update">Email: </label>
    <input type="text" name="input-email-update" id="input-email-update">
    <br>
    
    <input type="submit">

</form>