<!-- customers.hbs -->
<title>Customers</title><link rel="stylesheet" href="css/style.css">
<a href="/">Home</a> | 
<a href="/campgrounds">Campgrounds</a> |
<a href="/sites">Sites</a> | 
<a href="/reservations">Reservations</a>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h2>Customer</h2>
{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the variables, in order --}}
        {{#each data}}
        <tr data-value={{this.CustomerId}}>
            <td>{{this.CustomerId}}</td>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.CustomerEmail}}</td>
            <td>{{this.CustomerPhone}}</td>
            <td><button onclick="deleteCustomer({{this.CustomerId}})">delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_customer.js"></script>

<!-- /views/customers.hbs -->

<h2>Add a Customer</h2>
<p>Add Campground information below and click `Submit`.</p>
<form id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-first-name">First Name: </label>
    <input type="text" name="input-first-name" id="input-first-name">
    <br>
    <label for="input-last-name">Last Name: </label>
    <input type="text" name="input-last-name" id="input-last-name">
    <br>
    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">
    <br>
    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">
    <br>
    <input type="submit">
</form>

<h2>Search a Customer</h2>
{{!-- using the route 'action='/customers' --}}
<form id="search-customer-html" method='GET' action='/customers'> 
    <label for="input-LastName">Enter Last Name: </label>
    <input type="text" name="LastName" id="input-LastName-html-search">
    
    <input type="submit">
    <a href='/customers'><button>Reset</button></a>
</form>

<h2>Update a Customer</h2>

<form id="update-customer-form" method="POST" action="/update-customer-form">

    <label for="input-name">Name: </label>
    <select name="input-name" id="input-name">
        <option value="test">Select a Customer</option>
        {{#each data}}
        <option value='{{this.CustomerId}}'>{{this.FirstName}} {{this.LastName}}</option>
        {{/each}}
    </select>

    {{!-- **** Works with commented out query in app.js*** --}}

    {{!-- <label for="input-fname">First Name: </label>
    <select name="input-fname" id="input-fname">
        <option value="test">Select First Name</option>
        {{#each data}}
        <option value="{{this.FirstName}}">{{this.FirstName}}</option>
        {{/each}}
    </select>  --}}

    {{!-- <label for="input-lname">Last Name: </label>
    <select name="input-lname" id="input-lname">
        <option value="test">Select Last Name</option>
        {{#each data}}
        <option value="{{this.LastName}}">{{this.LastName}}</option>
        {{/each}}
    </select>  --}}

    {{!-- <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname"> --}}
    
    {{!-- <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname"> --}}
    <br>
    <h3>Update Fields</h3>
    
    <label for="input-fname">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">
    <br>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">
    <br>
    
    <input type="submit">

</form>